.logo {
    display: inline-block;
    width: 150px;
    height: 75px;
    

}
body{
background-color: #e5e5e5;

}

.topnav {
    background-color: #e5e5e5 ;
    position: relative;
  }
  
  
  .topnav a {
    
    color: #000000;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: rgba(170, 163, 163, 0.616);
    color: black;
  }
  
  
  .topnav a.active {
    background-color: #dadada9c;
    color: white;
  }

  .conteneur {
    display: flex;
    justify-content: center;
  }
  
 
     
.imagacc{
   
    width: auto;
    height: auto;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
 
  
}
  

  
